<section 
    class= "landing-section bg-white h-screen w-screen text-center relative overflow-hidden"
    data-header-color="white"
>

    <div class="z-30 relative h-full flex flex-col ">

        <header>
            <h2 class="text-white pt-40 text-[35px] font-medium">Disfrute de Toyota</h2>
            <p class="text-white text-sm text-[15px]">confianza y seguridad al manejar</p>
        </header>

        <footer class="flex flex-col flex-grow flex-nowrap justify-end pb-20">
            <div>
                <a class="border-[3.5px] border-white bg-white/5 backdrop-blur-sm text-sm rounded font-medium text-white px-10 py-2 inline-block hover:bg-white hover:text-black transition-colors" href="#">Unete al mundo de Toyota</a>
            </div>	
        </footer>
    </div>

    <div class="absolute top-0 bottom-0 h-full z-10 ">
        <video class="object-center object-cover h-full-max"autoplay loop muted src="toyota_video.webm"></video>
    </div>	
</section>